.text-color {
    color: #392F5A;
}

.header {
    background-color: #9DD9D2;
}

.footer {
    background-color: #392F5A;
}

.mainbar {
    background-color: #F4D06F;
}

body {
    background-color: #FFF8F0;
}